

<div class="header-container">
    <h1>Monitoring Web</h1>
</div>
<app-site-form></app-site-form>
<div class="save-site-message">
    <p>O site deve ser salvo no formato "www.site.com".</p>
</div>
<app-monitoring-history></app-monitoring-history>

<footer class="footer-container">
    <div class="footer-content">
      <p>&copy; 2024 Monitoring Web</p>
      <nav class="footer-nav-links">
        <a routerLink="/">Início</a>
        <a routerLink="/sobre">Sobre</a>
      </nav>
    </div>
</footer>